@mixin bgimg{
    text-align: 101%;
    white-space: nowrap;
    overflow:hidden;
}

@mixin li-style($size){
    content: "•";
      color: #891818;
      font-weight: bold;
      width: $size;
      margin-right: 16px;
}

@mixin center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}