@import 'reset';
@import 'mixin';
@import 'various';
*{
  outline:1px solid black;
}
.body{
  margin: 0 auto;
}
.banner{
  height: 958px;
  background: url(../images/week2/banner.png) no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @include bgimg;
  .banner-content{
    width: 304px;
    color:#fff;
    span{
      @include font-style;
    }
    h1{
      font: italic normal 900 80px/106px Roboto;
      margin-bottom: 32px;
    }
    p{
      font: italic normal bold 24px/36px Roboto;
      margin-bottom: 40px;
      word-break: break-word;
    }
    .media{
      display: flex;
      justify-content: space-between;
    }
  }
}
.about{
  margin: 0 auto;
  width: 412px;
  padding: 56px 0;
  text-align: center;
  h2{
    font: italic normal 400 64px/84px Roboto;
    margin-bottom: 40px;
  }
  .profile{
    margin-top: 20px;
    padding-bottom: 24px;
    border-bottom: 1px solid #000;
  }
  .job{
    padding:28px 0 56px 0;
    li::before{
      @include li-style(22px);
    }
  }
  ul>li{
    @include font-style;
  }
}
.brand{
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 56px 0 160px 0;
  h2{
    font: italic normal 400 64px/84px Roboto;
    span{
      @include font-style;
      margin: 12px 0 32px 0;
    }
  }
  p{
    width: 320px;
    margin: 0 auto;
    font: italic normal 400 20px/30px Roboto;
  }
  >img{
    margin-top: 68px;
  }
  .small-pic{
    display: flex;
    justify-content: center;
    margin:40px 24px 0 0;
  }
}
.works{
  width: 1224px;
  margin: 0 auto;
  padding: 56px 0 144px 0;
  text-align: center;
  h2{
    font: italic normal 400 64px/84px Roboto;
    margin-bottom: 16px;
  }
  h3{
    width: 226px;
    margin: 0 auto;
    font: italic normal 400 20px/30px Roboto;
  }
  ul{
    p{
      margin-top: 16px;
      font: italic normal 400 20px/42px Roboto;
    }
  }
  .col-pic{
    display: flex;
    justify-content: space-between;
    margin: 56px 0 48px 0;
  }
  .row-pic{
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
  }
  .design-pic{
    display: flex;
    justify-content: space-between;
  }
}
.footer{
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 64px 0;
  .contact{
    width: 315px;
    margin: 0 auto;
    h2{
      margin-bottom: 16px;
      font: italic normal 400 64px/84px Roboto;
    }
    li{
      margin-bottom: 16px;
      font: italic normal 400 24px/36px Roboto;
    }
  }
}
